[Modules]
;需要启用的模组任务，请修改True/False（请注意大小写）
risingStonesTask = True
sqMallTask = True

[Normal]
;叨鱼Key，关键参数
daoyukey =
;show_Username 关键参数
showusername =

[Notification]
;若要启用消息通知，请将noc-enable设置为True,并根据说明正确配置push-key
noc-enable = False
;通知服务商可选：bark pushdeer serverchan smtp qmsg telegram
push-method = bark
;推送密钥或目标地址
push-key = xxxxx

;qmsg酱推送设置
;推送目标 normal=私聊  group=群聊
qmsg-target = normal
;推送目标QQ号/群号，留空默认全发
qmsg-target-number =


;SMTP 发件服务器配置
;目前仅支持SSL 465端口发送
; TODO: 支持非SSL
smtp-host = ""
smtp-port = 465
smtp-username = ""
smtp-password = ""
smtp-ssl = True

;Telegram推送设置
;Telegram机器人的token，例如：1077xxx4424:AAFjv0FcqxxxxxxgEMGfi22B4yh15R5uw
tg-token = botxxxxx
;Telegram用户的id，例如：129xxx206
tg-user = xxxxx
