[Normal]
;设备ID，关键参数
deviceid =
;设备型号，关键参数
manuid =
;手机号，如果不开启短信登录可不填
phonenumber =
;短信登录，默认关闭
smsloginenable = 1
;叨鱼Key初始化
daoyukeyinit = 0
;叨鱼Key
daoyukey =
;show_Username 关键参数
showusername =

;石之家相关配置，无需手动填写。
[RisingStones]
rs_cookies=
rs_cookies_expires =

[Notification]
;若要启用消息通知，请将noc-enable设置为True,并根据说明正确配置push-key
noc-enable = False
;通知服务商可选：bark、pushdeer serverchan smtp
push-method = bark
;推送密钥或目标地址
push-key = xxxxx

;SMTP 发件服务器配置
;目前仅支持SSL 465端口发送
; TODO: 支持非SSL
smtp-host = ""
smtp-port = 465
smtp-username = ""
smtp-password = ""
smtp-ssl = True

